body {
    font-family: Arial, sans-serif;
    text-align: left;
}
table {
    background-color:#5f5f5f;
    width:500px;
    border: 0;
}
th {
    font-size: 25px;
    font-weight: normal;;
    color: #9ba7ab;
    padding: 10px 0;
    }
td {
    vertical-align: top;
    padding-bottom: 10px;
}
tr td:first-child {
    font-style: italic;
    font-weight: bold;
    color: #CCCCCC;
    width: 30%;
}
tr td:last-child {
    color: #9ba7ab;
}
a {
    color: #f0ecab;
    text-decoration: none;
}
p {
    margin:0;
}
.red {
    color:#CC0000;
    font-weight:bold;
}
.name {
    color:#f0ecab;
}
p.name:before {
    content:"•";;
    font-size:50px;
    line-height:16px;
    vertical-align:top;
    color:#77b880;
}
.orange {
    color:#da6f34;
    font-weight:bold;
}
